.admin-title {
    font-weight: 500;
    font-size: 24px;
    margin: 20px 15px 5px 15px;
    z-index: 15;
}

.admin-error-tip{
    margin: 5px 50px 5px 0;
    padding: 15px 20px;
    border-radius: 5px;
}
.admin-btn{
    margin: 10px 10px 10px 0;
}

.admin-table-btn{
    min-width: 0;
    height: 28px;
    padding: 0 8px;
    margin-bottom: 5px;
}

.admin-editor-text{
    min-height: 300px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
}
.admin-editor-middle-bar{
    padding: 5px 0;
    color: #6d6d6d;
}
.admin-editor-toolbar{
    padding: 5px 0;
    background: #fff;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
}

.layui-form-checkbox i{
    height: 30px;
}

#admin-drawer .mdui-list-item-content{
    white-space: normal;
}