ion-icon {
    font-size: 20px;
}
/*顶部padding （移动端适配tab选项卡及drawer）*/

/*无tab 有底部导航栏*/
@media (min-width: 600px){
    .body-padding{
        padding-top: 120px;
        padding-bottom: 0px;
    }
}
/*有tab 无底部导航栏*/
@media (max-width: 600px){
    .body-padding{
        padding-top: 60px;
        padding-bottom: 56px;
    }
}
@media (min-width: 1024px){
    .drawer-padding-top{
        top: 20%;
    }
}


/*应用栏右方下拉菜单*/
.appbar-menu{
    width: auto;
}

/*抽屉菜单*/
.drawer-menu{
    padding: 0px 0px;
}
.drawer-top{
    position: relative;
}
.drawer-top-img{
    -webkit-filter: brightness(0.7);
    filter: brightness(0.7);
}
.drawer-top-profile{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    left:20px;
    bottom:70px;
    text-shadow: black 0.1em 0.1em 0.2em
}
.drawer-top-title{
    position: absolute;
    left:20px;
    bottom:40px;
    font-size: 18px;
    font-weight: 800;
    text-shadow: black 0.1em 0.1em 0.2em
}

.drawer-top-subtitle{
    width: 180px;
    position: absolute;
    left:20px;
    bottom: 17px;
    font-weight: 500;
    text-shadow: black 0.1em 0.1em 0.2em
}
.drawer-top-close{
    position: absolute;
    top:10px;
    right:10px;
}

/*底部导航栏*/
.bottom-nav{
    background-color: white;
    opacity:0.95;
}

/*首页轮播图高度自适应*/
.index-carousel{
    height:240px;
}
@media (min-width: 600px){
    .index-carousel{
        height:350px;
    }
}
@media (min-width: 800px){
    .index-carousel{
        height:400px;
    }
}
@media (min-width: 1024px){
    .index-carousel{
        height:320px;
    }
}
@media (min-width: 1380px){
    .index-carousel{
        height:420px;
    }
}

/*首页轮播图片高度自适应*/
.index-carousel-img{
    height: 240px;
}
@media (min-width: 600px){
    .index-carousel-img{
        height:350px;
    }
}
@media (min-width: 800px){
    .index-carousel-img{
        height:400px;
    }
}
@media (min-width: 1024px){
    .index-carousel-img{
        height:320px;
    }
}
@media (min-width: 1380px){
    .index-carousel-img{
        height:420px;
    }
}

/*宽度1024-1379之间的响应式工具*/
@media (min-width: 1024px) and (max-width: 1397px){
    .small-pc-hidden{
        display: none !important;
    }
}

/*轮播图标题框*/
.index-carousel-primary {
    position: relative;
    padding: 10px 16px 10px 16px;
}
@media (max-width: 600px){
    .index-carousel-primary .mdui-card-primary-title{
        font-size: 20px;
    }
    .index-carousel-primary .mdui-card-primary-subtitle{
        font-size: 16px;
    }
}

/*轮播图右表格*/
.table-icon,
.table-icon::before {
    font-size: 18px;
    padding-right: 5px;
}
.table-icon::before {
    width: 18px;
    height: 18px;
    padding-right: 5px;
}

/*板块标题*/
.part-title,
.part-title-blue,
.part-title-red{
    border-left: 8px solid rgba(0, 0, 0, 0.65);
    border-bottom: 2px solid rgba(0, 0, 0, 0.65);
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0px 10px 0px;
    padding: 10px 20px 9px 10px;
    line-height: 18px;
    background-color: #fff;
}
/*板块标题蓝*/
.part-title-blue{
    border-left: 8px solid #42a5f5;
    border-bottom: 2px solid #42a5f5;
}
/*板块标题红*/
.part-title-red{
    border-left: 8px solid #FF3338;
    border-bottom: 2px solid #FF3338;
}
/*板块标题按钮*/
.part-title-more-btn{
    float: right !important;
    margin: -10px 0px;
}
.part-title-blue>.part-title-more-btn{
    color: #3c89d2;
}
.part-title-red>.part-title-more-btn{
    color: #d1292d;
}

/*首页新闻头条板块*/
/*图片标题框*/
.topnews-img-primary {
    position: relative;
    padding: 8px 10px 6px 10px;
}
.topnews-img-primary .mdui-card-primary-title{
    line-height: 20px;
}
.topnews-img-primary .mdui-card-primary-subtitle{
    line-height: 18px;
}
@media (max-width: 600px){
    .topnews-img-primary .mdui-card-primary-title{
        font-size: 18px;
    }
    .topnews-img-primary .mdui-card-primary-subtitle{
        font-size: 14px;
    }
}

/*新闻页右侧两卡片间距*/
.card-margin{
    margin-top: 10px;
}