ion-icon {
    font-size: 20px;
}
/*顶部padding （移动端适配tab选项卡及drawer）*/

/*无tab 有底部导航栏*/
@media (min-width: 600px){
    .body-padding{
        padding-top: 120px;
        padding-bottom: 0px;
    }
}
/*有tab 无底部导航栏*/
@media (max-width: 600px){
    .body-padding{
        padding-top: 60px;
        padding-bottom: 56px;
    }
}
@media (min-width: 1024px){
    .drawer-padding-top{
        top: 20%;
    }
}


/*应用栏右方下拉菜单*/
.appbar-menu{
    width: auto;
}

/*抽屉菜单*/
.drawer-menu{
    padding: 0px 0px;
}
.drawer-top{
    position: relative;
}
.drawer-top-img{
    -webkit-filter: brightness(0.7);
    filter: brightness(0.7);
}
.drawer-top-profile{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    left:20px;
    bottom:70px;
    text-shadow: black 0.1em 0.1em 0.2em
}
.drawer-top-title{
    position: absolute;
    left:20px;
    bottom:40px;
    font-size: 18px;
    font-weight: 800;
    text-shadow: black 0.1em 0.1em 0.2em
}

.drawer-top-subtitle{
    width: 180px;
    position: absolute;
    left:20px;
    bottom: 17px;
    font-weight: 500;
    text-shadow: black 0.1em 0.1em 0.2em
}
.drawer-top-close{
    position: absolute;
    top:10px;
    right:10px;
}

/*底部导航栏*/
.bottom-nav{
    background-color: white;
    opacity:0.95;
}

/*首页轮播图高度自适应*/
.index-carousel{
    height:240px;
}
@media (min-width: 600px){
    .index-carousel{
        height:350px;
    }
}
@media (min-width: 800px){
    .index-carousel{
        height:400px;
    }
}
@media (min-width: 1024px){
    .index-carousel{
        height:320px;
    }
}
@media (min-width: 1380px){
    .index-carousel{
        height:420px;
    }
}

/*首页轮播图片高度自适应*/
.index-carousel-img{
    height: 240px;
}
@media (min-width: 600px){
    .index-carousel-img{
        height:350px;
    }
}
@media (min-width: 800px){
    .index-carousel-img{
        height:400px;
    }
}
@media (min-width: 1024px){
    .index-carousel-img{
        height:320px;
    }
}
@media (min-width: 1380px){
    .index-carousel-img{
        height:420px;
    }
}

/*宽度1024-1379之间的响应式工具*/
@media (min-width: 1024px) and (max-width: 1397px){
    .small-pc-hidden{
        display: none !important;
    }
}

/*轮播图标题框*/
.index-carousel-primary {
    position: relative;
    padding: 10px 16px 10px 16px;
}
@media (max-width: 600px){
    .index-carousel-primary .mdui-card-primary-title{
        font-size: 20px;
    }
    .index-carousel-primary .mdui-card-primary-subtitle{
        font-size: 16px;
    }
}

.table-icon,
.table-icon::before {
    font-size: 18px;
    padding-right: 5px;
}
.table-icon::before {
    width: 18px;
    height: 18px;
    padding-right: 5px;
}